<?xml version="1.0" ?>
<robot name="URDF" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find urdf_description)/urdf/materials.xacro"/>
<xacro:include filename="$(find urdf_description)/urdf/URDF.gazebo" />

<!-- BASE LINK (Chassis) -->
<link name="base_link">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="50.0"/>
    <inertia ixx="1.5" iyy="2.5" izz="3.5" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>

  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/> 
    <geometry>
      <mesh filename="package://urdf_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>

  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://urdf_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<!-- FRONT ROCKER ARM (Bogie3_1) -->
<link name="bogie_front">
  <inertial>
    <origin xyz="-0.24598384655946126 0.3733777171361519 0.23572313584798862" rpy="0 0 0"/>
    <mass value="2.7421522792750093"/>
    <inertia ixx="0.017885" iyy="0.018532" izz="0.031298" ixy="0.00644" iyz="0.004516" ixz="-0.002275"/>
  </inertial>
  <visual>
    <origin xyz="-0.392766 0.076779 -0.180422" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://urdf_description/meshes/Bogie3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.392766 0.076779 -0.180422" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://urdf_description/meshes/Bogie3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<!-- FRONT WHEEL (on Front Rocker) -->
<link name="wheel_front">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="18.64386375159242"/>
    <inertia ixx="0.207999" iyy="0.203936" izz="0.164115" ixy="0.045369" iyz="-0.012432" ixz="-0.013001"/>
  </inertial>
  <visual>
    <origin xyz="-0.323557 0.444523 0.206988" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://urdf_description/meshes/Wheel1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.323557 0.444523 0.206988" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://urdf_description/meshes/Wheel1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<!-- CENTER BOGIE (Differential Bar System - Bogie2_1) -->
<link name="bogie_center">
  <inertial>
    <origin xyz="0.06251976698493288 -0.11015246561255954 0.004955724047181781" rpy="0 0 0"/>
    <mass value="10.182002771454556"/>
    <inertia ixx="0.236046" iyy="0.232383" izz="0.171857" ixy="0.060255" iyz="-0.017547" ixz="-0.018201"/>
  </inertial>
  <visual>
    <origin xyz="-0.101262 0.67433 -0.228037" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://urdf_description/meshes/Bogie2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.101262 0.67433 -0.228037" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://urdf_description/meshes/Bogie2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<!-- CENTER WHEELS (left and right on center bogie) -->
<link name="wheel_center_left">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="18.64386375159242"/>
    <inertia ixx="0.207999" iyy="0.203936" izz="0.164115" ixy="0.045369" iyz="-0.012432" ixz="-0.013001"/>
  </inertial>
  <visual>
    <origin xyz="-0.230521 -0.22289 -0.14374" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://urdf_description/meshes/Wheel2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.230521 -0.22289 -0.14374" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://urdf_description/meshes/Wheel2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_center_right">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="18.64386375159242"/>
    <inertia ixx="0.207999" iyy="0.203936" izz="0.164115" ixy="0.045369" iyz="-0.012432" ixz="-0.013001"/>
  </inertial>
  <visual>
    <origin xyz="-0.143367 -0.225919 0.163611" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://urdf_description/meshes/Wheel3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.143367 -0.225919 0.163611" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://urdf_description/meshes/Wheel3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<!-- REAR ROCKER ARM (Bogie1_1) -->
<link name="bogie_rear">
  <inertial>
    <origin xyz="-0.28590244337464565 0.13764159401794218 -0.3934445335062897" rpy="0 0 0"/>
    <mass value="2.7421522792728923"/>
    <inertia ixx="0.028398" iyy="0.027753" izz="0.011564" ixy="-0.004417" iyz="-0.003682" ixz="-0.000457"/>
  </inertial>
  <visual>
    <origin xyz="0.002504 0.454759 -0.288737" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://urdf_description/meshes/Bogie1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.002504 0.454759 -0.288737" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://urdf_description/meshes/Bogie1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<!-- REAR WHEEL (on Rear Rocker) -->
<link name="wheel_rear">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="18.64386375159242"/>
    <inertia ixx="0.207997" iyy="0.203937" izz="0.164114" ixy="0.04537" iyz="-0.012432" ixz="-0.013"/>
  </inertial>
  <visual>
    <origin xyz="-0.288513 0.111749 -0.499405" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://urdf_description/meshes/Wheel4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.288513 0.111749 -0.499405" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://urdf_description/meshes/Wheel4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<!-- REAR BOGIE CONNECTOR (Bogie4_1) -->
<link name="bogie_rear_connector">
  <inertial>
    <origin xyz="-0.0576795241193887 0.11151332283089457 0.01745672477431024" rpy="0 0 0"/>
    <mass value="10.182002771454542"/>
    <inertia ixx="0.235718" iyy="0.232513" izz="0.172056" ixy="0.060436" iyz="-0.01649" ixz="-0.018934"/>
  </inertial>
  <visual>
    <origin xyz="-0.372144 0.031872 0.064979" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://urdf_description/meshes/Bogie4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.372144 0.031872 0.064979" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://urdf_description/meshes/Bogie4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<!-- ADDITIONAL WHEELS on rear bogie connector -->
<link name="wheel_rear_left">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="18.64386375159242"/>
    <inertia ixx="0.207995" iyy="0.203939" izz="0.164115" ixy="0.045369" iyz="-0.012433" ixz="-0.013001"/>
  </inertial>
  <visual>
    <origin xyz="-0.275576 0.947443 -0.074581" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://urdf_description/meshes/Wheel5_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.275576 0.947443 -0.074581" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://urdf_description/meshes/Wheel5_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_rear_right">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="18.64386375159242"/>
    <inertia ixx="0.207995" iyy="0.203939" izz="0.164115" ixy="0.045369" iyz="-0.012433" ixz="-0.013001"/>
  </inertial>
  <visual>
    <origin xyz="-0.322519 0.906694 -0.387959" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://urdf_description/meshes/Wheel6_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.322519 0.906694 -0.387959" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://urdf_description/meshes/Wheel6_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<!-- SENSORS -->
<link name="camera_link">
  <inertial>
    <mass value="0.1"/>
    <origin xyz="0 0 0"/>
    <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
  </inertial>
  <visual>
    <geometry>
      <box size="0.05 0.05 0.05"/>
    </geometry>
  </visual>
  <collision>
    <geometry>
      <box size="0.05 0.05 0.05"/>
    </geometry>
  </collision>
</link>

<link name="lidar_link">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="0.125"/>
    <inertia ixx="0.001" iyy="0.001" izz="0.001" ixy="0" iyz="0" ixz="0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <cylinder radius="0.05" length="0.04"/>
    </geometry>
    <material name="black"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <cylinder radius="0.05" length="0.04"/>
    </geometry>
  </collision>
</link>

<!-- ============================================
     JOINTS - ROCKER-BOGIE WITH DIFFERENTIAL BAR
     ============================================ -->

<!-- Main pivot: Front rocker to chassis -->
<joint name="rocker_front_pivot" type="continuous">
  <parent link="base_link"/>
  <child link="bogie_front"/>
  <origin xyz="0.392766 -0.076779 0.180422" rpy="0 0 0"/>
  <axis xyz="0.708966 0.677955 -0.194277"/>
  <dynamics damping="3.0" friction="0.2"/>
</joint>

<!-- Front wheel on front rocker -->
<joint name="wheel_front_joint" type="continuous">
  <parent link="bogie_front"/>
  <child link="wheel_front"/>
  <origin xyz="-0.323557 0.444523 0.206988" rpy="0 0 0"/>
  <axis xyz="-0.708966 -0.677955 0.194277"/>
  <dynamics damping="1.0" friction="0.1"/>
</joint>

<!-- Center bogie REVOLUTE to chassis (Differential bar pivot) -->
<joint name="center_bogie_pivot" type="continuous">
  <parent link="base_link"/>
  <child link="bogie_center"/>
  <origin xyz="0.101262 -0.67433 0.228037" rpy="0 0 0"/>
  <axis xyz="0.708966 0.677955 -0.194277"/>
  <dynamics damping="2.0" friction="0.15"/>
</joint>

<!-- Center-left wheel -->
<joint name="wheel_center_left_joint" type="continuous">
  <parent link="bogie_center"/>
  <child link="wheel_center_left"/>
  <origin xyz="-0.230521 -0.22289 -0.14374" rpy="0 0 0"/>
  <axis xyz="0.708966 0.677955 -0.194277"/>
  <dynamics damping="1.0" friction="0.1"/>
</joint>

<!-- Center-right wheel -->
<joint name="wheel_center_right_joint" type="continuous">
  <parent link="bogie_center"/>
  <child link="wheel_center_right"/>
  <origin xyz="-0.143367 -0.225919 0.163611" rpy="0 0 0"/>
  <axis xyz="0.708966 0.677955 -0.194277"/>
  <dynamics damping="1.0" friction="0.1"/>
</joint>

<!-- Main pivot: Rear rocker to chassis -->
<joint name="rocker_rear_pivot" type="continuous">
  <parent link="base_link"/>
  <child link="bogie_rear"/>
  <origin xyz="-0.002504 -0.454759 0.288737" rpy="0 0 0"/>
  <axis xyz="0.708966 0.677955 -0.194277"/>
  <dynamics damping="3.0" friction="0.2"/>
</joint>

<!-- Rear wheel on rear rocker -->
<joint name="wheel_rear_joint" type="continuous">
  <parent link="bogie_rear"/>
  <child link="wheel_rear"/>
  <origin xyz="-0.288513 0.111749 -0.499405" rpy="0 0 0"/>
  <axis xyz="-0.708966 -0.677955 0.194277"/>
  <dynamics damping="1.0" friction="0.1"/>
</joint>

<!-- Diff bar connection: Rear connector to center bogie -->
<joint name="diff_bar_rear_connection" type="continuous">
  <parent link="bogie_center"/>
  <child link="bogie_rear_connector"/>
  <origin xyz="0.372144 -0.031872 -0.064979" rpy="0 0 0"/>
  <axis xyz="0.708966 0.677955 -0.194277"/>
  <dynamics damping="2.0" friction="0.15"/>
</joint>

<!-- Rear-left wheel on rear connector -->
<joint name="wheel_rear_left_joint" type="continuous">
  <parent link="bogie_rear_connector"/>
  <child link="wheel_rear_left"/>
  <origin xyz="-0.275576 0.947443 -0.074581" rpy="0 0 0"/>
  <axis xyz="0.708966 0.677955 -0.194277"/>
  <dynamics damping="1.0" friction="0.1"/>
</joint>

<!-- Rear-right wheel on rear connector -->
<joint name="wheel_rear_right_joint" type="continuous">
  <parent link="bogie_rear_connector"/>
  <child link="wheel_rear_right"/>
  <origin xyz="-0.322519 0.906694 -0.387959" rpy="0 0 0"/>
  <axis xyz="0.708966 0.677955 -0.194277"/>
  <dynamics damping="1.0" friction="0.1"/>
</joint>

<!-- Sensor mounts -->
<joint name="camera_joint" type="fixed">
  <parent link="base_link"/>
  <child link="camera_link"/>
  <origin xyz="0.25 0 0.35" rpy="0 0 0"/>
</joint>

<joint name="lidar_joint" type="fixed">
  <parent link="base_link"/>
  <child link="lidar_link"/>
  <origin xyz="0 0 0.1" rpy="0 0 0"/>
</joint>

<!-- ============================================
     ROS2 CONTROL - WHEEL MOTORS
     ============================================ -->
<ros2_control name="IgnitionSystem" type="system">
  <hardware>
    <plugin>ign_ros2_control/IgnitionSystem</plugin>
  </hardware>

  <joint name="wheel_front_joint">
    <command_interface name="velocity">
      <param name="min">-10.0</param>
      <param name="max">10.0</param>
    </command_interface>
    <state_interface name="position"/>
    <state_interface name="velocity"/>
  </joint>

  <joint name="wheel_center_left_joint">
    <command_interface name="velocity">
      <param name="min">-10.0</param>
      <param name="max">10.0</param>
    </command_interface>
    <state_interface name="position"/>
    <state_interface name="velocity"/>
  </joint>

  <joint name="wheel_center_right_joint">
    <command_interface name="velocity">
      <param name="min">-10.0</param>
      <param name="max">10.0</param>
    </command_interface>
    <state_interface name="position"/>
    <state_interface name="velocity"/>
  </joint>

  <joint name="wheel_rear_joint">
    <command_interface name="velocity">
      <param name="min">-10.0</param>
      <param name="max">10.0</param>
    </command_interface>
    <state_interface name="position"/>
    <state_interface name="velocity"/>
  </joint>

  <joint name="wheel_rear_left_joint">
    <command_interface name="velocity">
      <param name="min">-10.0</param>
      <param name="max">10.0</param>
    </command_interface>
    <state_interface name="position"/>
    <state_interface name="velocity"/>
  </joint>

  <joint name="wheel_rear_right_joint">
    <command_interface name="velocity">
      <param name="min">-10.0</param>
      <param name="max">10.0</param>
    </command_interface>
    <state_interface name="position"/>
    <state_interface name="velocity"/>
  </joint>

</ros2_control>

</robot>
